SERVER_PORT=8080

POSTGRES_USER=service
POSTGRES_PASSWORD=superstrongpassword
POSTGRES_DB=service
POSTGRES_MAX_CONNS=100

JWT_SECRET=change-me

# RUSTFS_ACCESS_KEY=gopher
# RUSTFS_SECRET_KEY=bl4zinglyf4str4st
# RUSTFS_BUCKET_NAME=somebucket

# KAFKA_READER_GROUP_ID=example-group
# KAFKA_TOPIC=some-topic

# VALKEY_PASSWORD=hardpassword
